body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
  text-align: center;
  font-family: "Lilita One", sans-serif;
}
header {
  margin-bottom: 30px;
}
.form-container {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.6;
  margin-left: 20px;
}

form {
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}
.submit-button {
  margin-left: 10px;
  background: #885df1;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}
.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  font-weight: 400;
  border-left: 3px solid #885df1;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.hidden {
  display: none;
}
footer {
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
}

.poem strong {
  color: #885df1;
}

@keyframes blink {
  50% {
    opacity: 10%;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
